extends layout
block content
    div.container-fluid
        div.row.justify-content-between
            div.col.bm-header-col
                h4.text-left= title
            div.col.bm-header-col()
                ul.nav.nav-pills.bm-header-pills(role='tablist')
                    li.nav-item
                        a.nav-link(data-toggle='pill'
                                   role='tab'
                                   href='#temperatureTab')
                           span Temperature
                    li.nav-item
                        a.nav-link.active(data-toggle='pill'
                                          role='tab'
                                          href='#videoTab')
                            span Video
                    li.nav-item
                        a.nav-link(data-toggle='pill'
                                   role='tab'
                                   href='#settingsTab')
                            span Settings
    p
    hr
    div.tab-content
        div.tab-pane.fade#temperatureTab(role='tabpanel')
            include subview/temperature
        div.tab-pane.fade.show.active#videoTab(role='tabpanel')
            include subview/video
        div.tab-pane.fade#settingsTab(role='tabpanel')
            include subview/settings
