div.container-fluid.justify-content-between
    div.row
        div.col-xs-2
            label.switch.pull-left
                input(type='checkbox' name='audioGroup[]')
                span.slider.round &nbsp;
        div.col-xs-10
            h5 Music
    div.row
        div.col-xs-2
            label.switch
                input(type='checkbox' name='audioGroup[]')
                span.slider.round &nbsp;
        div.col-xs-10
            h5 White Noise

script.
    $('input[name="audioGroup\[\]"]').on('change', function () {
        $('input[name="' + this.name + '"]').not(this).prop('checked', false);
    });
