div.container-fluid.justify-content-between
    dl.row
        dt.col-sm-12
            p#temperature N/A
            script(type='text/javascript' src='/javascripts/temperature.js')
    dl.row
        dt.col-sm-6
            img.bm-temp(src='/images/growbag-front.jpg')
        dt.col-sm-6
            img.bm-temp(src='/images/growbag-back.jpg')

