div.embed-responsive.embed-responsive-16by9
    video.bm-video.embed-responsive-item.video-js.vjs-default-skin#bmVideo(
            data-source=videoSrc
            type='application/x-mpegURL'
            autoplay='true'
            muted='true'
            )
        p.vjs-no-js
            span To view this video please enable JavaScript, and consider upgrading to a web
                |  browser that
                a(href='http://videojs.com/html5-video-support/' target='_blank') supports HTML5 video

script(type='text/javascript' src='/hls.js/hls.min.js')
script(type='text/javascript' src='/javascripts/video.js')
